html{
    scroll-behavior: smooth;
}


body{
    background-color: #0f182a;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
}


/* Container which contain entire elememts header, pomodoro timer and to-do-list. */
.Content{
    display: block;
    max-width: 640px;
    margin: 0 auto;
    height: auto;

}


/* Navbar */
.navbar{
    font-size: 26px;
    margin-top: 15px;
    display: flex;
    max-width: 640px;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 2px solid #fff;
    
}  
  

/* Logo of pomodoro. */
.logo{
    height: 20px;
    width: 20px;
}


/* title of project -> PomoClone. */
.ProjectName{
    color:#4cf284 ;
    padding: 5px 0px;
}


/* About button which contain one link.*/
.about{
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: 0.4s;
    cursor: pointer;   
    color: rgb(255, 255, 255);
}


.about a{
    box-shadow: 0px 0px 4px 1.5px rgb(146, 255, 134);
    background-color: rgba(9, 1, 121, 0.333);
    border-radius: 15px;
    padding: 7px;
    margin: 0px;
}


/* Image of about or about icon. */
.about a[id]{
    display: none;
    height: 30px;
    width: 30px;
}

a{
    all: unset;
    color: #fff;
    cursor: pointer;
    padding: 7px 15px;
    margin: 0px 3px;
    border-radius: 10px;
}


/* progress line. */
.progressLine{
    width: 0;
    height: 2px;
    background: #ffffff;
    margin: 15px 0px;
}


/* This container contain the all three options (like long break, sort break and pomodoro), pomodoro timer and start button.  */
.mainContent{
    text-align: center;
    padding-top: 10px;
}


.subContent{
    max-width: 500px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.057);
    margin: 10px auto;

}


/* Three options (like long break, sort break and pomodoro) */
.options{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    font-size: 23px;
    padding: 0px;
}

.options:hover > :not(:hover){
    opacity: 0.05;
}


/* When click on any option this class will be added into that option. */
.active{
    background-color: rgb(16, 13, 59);
    transition: 0.5s;
    cursor: pointer;   
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 4px 4px rgb(255, 255, 255);
}


/* This is the timer container. */
.Timer{
    font-size: 100px;
    margin: 30px 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}


/* Start Button. */
#clickMe{
    all: unset;
    width: 35%;
    height: 40px;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.119);
    padding: 0px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 0px 0px 30px 0px;
    box-shadow: 0px 0px 5px 4px rgba(220, 220, 220, 0.398);
    
}


#clickMe:hover{
    box-shadow: 0px 0px 2px 2px rgb(23, 80, 52);
    background-color: rgba(213, 89, 89, 0.712);
    text-decoration: underline;
}


#clickMe2{
    display: none;
}


/*Container which contain the quote like Take a break. */
.quote{
    color: #12df49;
    margin: 30px 0px 5px 0px;
    font-size: 26px;
    padding-bottom: 10px;

}

.toDoList{
    padding-top:30px ;
    border-top:2px solid #fff ;
}

/* For adding the task in to do list. */
.addTask{
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    border: 2px dashed #ffffff8d;
    max-width: 510px;
    margin: 0 auto;
    padding: 5px;
    margin-bottom: 35px;

}


/* Fot taking the task form user. It contain one text area for taking task and two button add and cancle. */
.popUp{
    display: none;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    margin: 20px auto;
    padding: 20px;
    gap: 10px;
    max-width: 25em;
    background: #ffffff17;
}


.popUp input{
    color: rgb(0, 0, 0);
    padding: 10px;
    background-color: #fffefe;
    font-size: 1.2rem;
    border: 2px solid rgb(0, 0, 0);
    
}


.addCancleButton{
    display: flex;
    align-items: center;
    gap: 1rem;
}


.addCancleButton button{
    all:unset;
    border: 2px solid rgb(0, 0, 0);
    padding: 5px;
    width: 70px;
    background: #fff;
    margin: 0px;
    text-align: center;
    color: #000000;
}


/* This contain the list of all task which is added by user. */
.taskList{
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    max-width: 630px;
    
}


.taskStyle{
    border: 1px solid rgb(49, 187, 36);
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 20px;
    padding: 20px 0px;
    width: 100%;
    margin: 10px auto;
    font-size: 1.4em;
    padding: 10px;
}


/* Delete buttto to remove the task for list. */
.taskStyle button{
    background-color: rgb(255, 255, 255);
    width: 5em;
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
    
}


/* This is the information part which contain description about pomodoro. */
.information{
    background-color:rgb(255,255,255);
    color:rgb(0,0,0);
    font-family: 'Quicksand', sans-serif;
    padding-top:2rem;
    margin-top: 100px;
    
}


.aboutPomodoro{
    display: flex;
    flex-direction:column;
    gap: 1.4rem;
    max-width: 630px;
    margin: 0 auto;
    font-size: 1.2rem;
    padding-bottom: 4rem;
    width: 90%;
}


.aboutPomodoro a{
    color: #db524d;
    font-weight: 700;
    margin:0px;
    padding:0px;
}


.aboutPomodoro ol,ul{
    margin:0px;
    padding:0px 24px;
   
}


.aboutPomodoro h2::first-letter{
    content: '';
    display: block;
    padding-top: 8px;
    border-bottom: 4px solid #f05b56b1;
    border-bottom-width:4px;
    
}



/* For responsive */
@media only screen and (max-width:550px){
   
    
    .subContent{
        max-width: 500px;
        
    }
    
    .options{
        font-size: 1.2em;
        justify-content: space-around;
    }
    .options:hover > :not(:hover){
        opacity: 1;
    }

    .aboutPomodoro{
        width: 90%;
        margin: 0 auto;
        font-size:0.9rem ;
    }
    .aboutPomodoro p{
        font-size: 20px;
        text-align: justify;
    }
}

@media only screen and (max-width:471px){

    .options a{
        padding: 7px;
        
    }
    
    .active{
        box-shadow: none;
        border: 2px solid rgba(255, 255, 255);

    }
}


@media only screen and (max-width:441px){
   .Timer{
       font-size: 70px;
   }
   
   .subContent{
       padding: 10px 0px;
       margin: auto;
   }
   
   .options {
    font-size: 16px;
    padding: 0;
   }
}


@media only screen and (max-width:344px){
    .about a{
        display: none;
        
    }
    
    .options {
     font-size: 25px;
    }

   .about a[id] {
    display: inline;
    padding: 0px;
    
}

    .about a[id] img{
        height: 30px;
        width: 30px;
    }


  .options span{
    display: none;
   }
   
   .options{
    font-size: 19px;
    padding: 5px;
    margin: 0px;
   }

   .Timer{
       font-size: 60px;
   }

   .navbar{
       font-size: 25px;
   }

   .logo{
       height: 20px;
       width: 20px;
   }
}

@media only screen and (max-width:300px){
    .popUp input{
        padding: 5px;
        max-width: 10em;
    }
}
@media only screen and (max-width:250px){
  .options a{
   padding: 7px;
   margin: 6px;
   font-size: 20px;
   }

   
   body{
       margin: 0px;
   }
   
   .Content{
       width: 100%;
   }
   
   
   #clickMe{
       font-size: 15px;
   }

   .information{
    display: none;
   }
}

@media only screen and (max-width:225px){
   
   
   .Timer{
       font-size: 40px;
   }
   
   .options a{
       font-size: 16px;
       padding: 5px;
   }
   
   .ProjectName{
    font-weight: none;
   }
   
   #clickMe{
       font-size: 12px;
   }

   .quote{
       font-size: 20px;
   }

   .about{
    display: none;
   }

   .toDoList{
    display: none;
   }
}

@media only screen and (max-width:180px){
  .navbar{
   justify-content: center;
  }

  .about{
    display: none;
  }


  #sortname{
   display: inline;
  }

  .quote{
   display: block;
   writing-mode: vertical-rl;
   margin: 20px auto auto auto;
   font-size: 25px;
  }

  #clickMe{
   display: none;
  }

  #clickMe2{
   display: block;
   height: 20px;
   width: 20px;
   margin: auto;
  }

  .logo{
    display: none;
  }
}


@media only screen and (max-width:155px){
   .navbar, #colon ,#Seconds{
       display: none;

   }
   .options{
    flex-wrap: wrap;
    font-size: 26px;
   }
   .options a{
    width: 70%;
   }
}