html{
    scroll-behavior: smooth;
}

body{
    background-color: #0f182a;
    /* background-color: rgb(110, 44, 44); */
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
}
/* *{
    transition: 3s;
} */

.Content{
    display: block;
    max-width: 630px;
    margin: 0 auto;
    height: 100vh;
}


.navbar{
    font-size: 26px;
    margin-top: 15px;
    /* background-color: black; */
    /* border-bottom: 2px solid wheat; */
    display: flex;
    /* width: 100%; */
    max-width: 630px;
    justify-content: space-between;
    /* margin-bottom: 50px; */
    
}  
   
.logo{
    height: 20px;
    width: 20px;
    /* padding: 10px; */
    /* margin: 0px; */
}

.ProjectName{
  /* background: linear-gradient(to right,#bf5050 40%, #11df56 60%); */
    color:#4cf284 ;
    padding: 5px 0px;
    /* font-weight: 500; */
}

.about{
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: 0.4s;
    cursor: pointer;   
    color: rgb(255, 255, 255);
}

.about a{
    /* margin-bottom: 10px; */
    box-shadow: 0px 0px 4px 1.5px rgb(146, 255, 134);
    background-color: rgba(9, 1, 121, 0.333);
    border-radius: 15px;
    padding: 7px;
    margin: 0px;
}

.about a[id]{
    /* padding: 0px; */
    display: none;
    height: 30px;
    width: 30px;
}

a{
    all: unset;
    color: #fff;
    cursor: pointer;
    padding: 7px 15px;
    margin: 0px 3px;
    border-radius: 10px;
    /* border-bottom:2px solid green ; */
}



.mainContent{
    margin-top: 10px;
    padding: 20px 0px 30px;
    /* border: 2px solid wheat; */
    width: 100%;
    text-align: center;
    border-top: 2px solid whitesmoke;
    border-bottom: 2px solid whitesmoke;
}

.subContent{
    /* width: 100%; */
    max-width: 500px;
    padding: 10px;
    /* border: 2px solid rgba(245, 222, 179, 0.178);  */
    background-color: rgba(255, 255, 255, 0.057);
    margin: 10px auto;
    text-align: center;

}
.options{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    font-size: 23px;
    padding: 0px;
}

.options:hover > :not(:hover){
    opacity: 0.05;
}

.active{
    background-color: rgb(16, 13, 59);
    /* border-radius: %; */
    transition: 0.5s;
    /* border: 2px double rgba(255, 255, 255, 0.243); */
    cursor: pointer;   
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 4px 4px rgb(255, 255, 255);
    /* padding: 5px; */
}

.Timer{
    font-size: 100px;
    margin: 30px 0px;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Quicksand',Roboto Serif, serif; */
    font-weight: bold;
}

#clickMe{
    width: 35%;
    height: 40px;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.119);
    padding: 0px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 0px 0px 30px 0px;
    box-shadow: 0px 0px 5px 4px rgba(220, 220, 220, 0.398);
    /* position: sticky; */
    
}
#clickMe:hover{
    box-shadow: 0px 0px 2px 2px rgb(23, 80, 52);
    background-color: rgba(213, 89, 89, 0.712);
    text-decoration: underline;
}


#clickMe2{
    display: none;
}

.quote{
    /* background: linear-gradient(to right,#7cb7ff 40%, #2becdc 60%);
    -webkit-background-clip: text; */
    /* color: transparent; */
    color: #12df49;
    margin: 30px 0px;
    /* font-weight: 500; */
    font-size: 26px;
}


.information{
    background-color:rgb(255,255,255);
    color:rgb(0,0,0);
    font-family: 'Quicksand', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    padding-top:2rem;
    
}

.aboutPomodoro{
    display: flex;
    flex-direction:column;
    gap: 1.4rem;
    max-width: 630px;
    margin: 0 auto;
    /* text-align:justify; */
    font-size: 1.2rem;
    padding-bottom: 4rem;
}

.aboutPomodoro a{
    color: #db524d;
    font-weight: 700;
    margin:0px;
    padding:0px;
}

.aboutPomodoro h2::first-letter{
    content: '';
    display: block;
    /* margin: 0 auto; */
    /* width: 24px; */
    padding-top: 8px;
    border-bottom: 4px solid #f05b56b1;
    border-bottom-width:4px;
    
}



/* For responsive */
@media only screen and (max-width:550px){
    /* a span{
        display: none;
    } */
    
    .subContent{
        /* width: 100%; */
        max-width: 500px;
        
    }
    
    .options{
        font-size: 1.2em;
        /* padding: px; */
        justify-content: space-around;
    }
    .options:hover > :not(:hover){
        opacity: 1;
    }

    .aboutPomodoro{
        width: 90%;
        margin: 0 auto;
        font-size:0.9rem ;
        /* text-align: justify; */
    }
    .aboutPomodoro p{
        font-size: 20px;
        text-align: justify;
    }
}

@media only screen and (max-width:471px){

    .options a{
        padding: 7px;
        
    }
    
    .active{
        box-shadow: none;
        border: 2px solid rgba(255, 255, 255);

    }
}


@media only screen and (max-width:441px){
   .Timer{
       font-size: 70px;
   }
   
   .subContent{
       /* width: 90%; */
       padding: 10px 0px;
       margin: auto;
   }
   /* .about {
       margin-left: 100px;
   } */
   .options {
    font-size: 16px;
    padding: 0;
    /* margin: 0; */
       /* padding: 7px; */
   }
}


@media only screen and (max-width:344px){
    .about a{
        display: none;
        
    }
    
    .options {
     font-size: 25px;
        /* padding: 7px; */
    }

   .about a[id] {
    display: inline;
    padding: 0px;
    
}

    .about a[id] img{
        height: 30px;
        width: 30px;
    }


  .options span{
    display: none;
   }
   
   .options{
    font-size: 19px;
    padding: 5px;
    margin: 0px;
   }

   .Timer{
       font-size: 60px;
   }

   .navbar{
       font-size: 25px;
   }

   .logo{
       height: 20px;
       width: 20px;
   }
}

@media only screen and (max-width:250px){
  .options a{
   padding: 7px;
   margin: 6px;
   font-size: 20px;
   }

   
   body{
       margin: 0px;
   }
   
   .Content{
       width: 100%;
       /* margin: 0px; */
   }
   
   
   #clickMe{
       font-size: 15px;
   }

   .information{
    display: none;
   }
}

@media only screen and (max-width:225px){
   
   /* #sortname{
       display: none;
   } */
   
   .Timer{
       font-size: 40px;
   }
   
   .options a{
       font-size: 16px;
       /* margin: 5px; */
       padding: 5px;
   }
   
   .ProjectName{
    font-weight: none;
   }
   
   #clickMe{
       font-size: 12px;
   }

   .quote{
       font-size: 20px;
   }

   .about{
    display: none;
   }
}

@media only screen and (max-width:180px){
  .navbar{
   justify-content: center;
  }

  .about{
    display: none;
  }


  #sortname{
   display: inline;
  }

  .quote{
   display: block;
   writing-mode: vertical-rl;
   margin: 20px auto auto auto;
   font-size: 25px;
  }

  #clickMe{
   display: none;
  }

  #clickMe2{
   display: block;
   height: 20px;
   width: 20px;
   margin: auto;
  }

  .logo{
    display: none;
  }
}


@media only screen and (max-width:155px){
   .navbar, #colon ,#Seconds{
       display: none;

   }
   .options{
    flex-wrap: wrap;
    font-size: 26px;
   }
   .options a{
    width: 70%;
   }
}